* {
    box-sizing: border-box;
    margin: 0;
}
html,body{
  height: 100%;
  width: 100%;
  color: #ddc;

}


#menu {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #263142;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    color: #eee;
    padding-top: 80px;
    padding-left: -20px;


}
.menulist{
  list-style-type: none;
}
.menuitem{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -40px;
  padding-left: 20px;

}
.mtext{
  padding-left: 5px;
}
.menuitem:hover{
  background-color: #474f5e;
}
#main {
    width: 30%;
    height: 100%;
    float: left;
    padding-top: 50px;
    overflow-y: auto;

}
#sidepan{
  width: 50%;
  height: 100%;
  padding: 15px;
float: left;
background-color: #F5F5F5;

}
.maillist {
  list-style-type: none;
  margin-left: -25px;
  color: black;

  .mailitem {
    overflow: auto;
    border-bottom-width: thin;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    padding-bottom: 10px;
    padding-top: 10px;

    h3 {
      font-family: 'Rubik', sans-serif;
      font-size: 16px;
      margin-top: -5px;
      display: inline-block;
    }
    h6{
        font-family: 'Rubik', sans-serif;
        font-size: 12px;
        float: left;
        padding-top: 5px;
        margin-left: 0px;
        display: inline-block;
    }


    .mailmessage{
      margin-left:auto;
      font-size: 12px;
      padding-top: 20px;
      margin-left: 0px;

    }
    .datetime{
      display: inline-block;
      float: right;
      padding-right: 10px;
      font-size: 12px;
      color: #BDBDBD;

    }
    .notif {
      float: left;
      margin-right: 5px;
    }
    .attach{
      display: inline-block;
      float: right;
      padding-right: 15px;
      padding-top: 10px;
      color: #BDBDBD;

    }

  }
  .mailitem:hover {
    background: #eee;
    cursor: pointer;
  }

}
.mailimage{
  display: block;
  position: absolute;
  top: 35%;
  right: 15%;
}

.flag{
  color:#E57373;
}
.lessflag{
  color: #BDBDBD;

}
.searchbar{
  margin-top: -45px;
}

input[type=text] {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline-block;
}

input[type=text]:focus{
    width: 100%;

}

#enclose{
  display:inline-block;
  float: right;
  margin-top: 8px;
  margin-right: 12px;

}

#enclose:hover{
  color:#000;
  cursor: pointer;
}
